@model IEnumerable<MyTaskManagement.Models.ApplicationUser>

@{
    ViewBag.Title = "ShowAllPayments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
 
<table class="table" id="listPayments">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Rate Details
            </th>
            
            <th>
                Total payments
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                R/H   @Html.DisplayFor(modelItem => item.HourlyRate)$
            </td>

            <td>
                @{
                    var sum = 0;
                    foreach (var i in item.Payments)
                    {
                        sum += i.AmountOfMoney;
                    }
                }
                @sum$
            </td>
            <td>
                @Html.ActionLink("Show All Payments ", "ShowPaymentsEmployee", new { id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Show Financials ", "ShowPaymentsEmployee", new { id = item.Id }, new { @class = "btn btn-primary" })

            </td>
        </tr>
        }
    </tbody>
      
</table>
@section scripts
{

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#listPayments").dataTable();
        });
    </script>
}