@model MyTaskManagement.Models.ApplicationUser

@{
    ViewBag.Title = "AddUserToProject";
}
 
<h3>Are you sure you want to Add @Model.FirstName ?</h3>
  
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Add" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
 
