@using MyTaskManagement.Core.Domain
@model IEnumerable<MyTaskManagement.Models.TTask>

@{
    ViewBag.Title = "Tasks";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks</h2>

<p>

    @Html.ActionLink("Create New", "Create", "TTask", "", new { @class = "btn btn-success" })
</p>
 @Html.Partial("_AllTaskPartial",Model.ToList() )